# Implementação de Rede Neural com PyTorch

Seguindo o tutorial, vamos implementar uma rede neural com PyTorch para prever o clima na Austrália, com fins didáticos

Mais específicamente, implementar, treinar e utilizar uma Rede Neural Feed-Foward simples para uma tarefa de classificação binária

In [6]:
# importando as libs
import pandas as pd
import numpy as np
import sklearn
import torch
import seaborn as sns

In [7]:
# importando os dados
raw_data=pd.read_csv("weatherAUS.csv")

In [8]:
# inspecting the data
raw_data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [9]:
raw_data.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

Escolhendo as variáveis meteorológicas que interessam: **Rainfall, Humidity3pm, Pressure9am e RainToday**, essas são nossas *features*

In [10]:
cols = ['Rainfall', 'Humidity3pm', 'Pressure9am', 'RainToday', 'RainTomorrow']
processed_data = raw_data[cols]

## Pré-processamnto

- *RainToday* e *RainTomorrow*: tem valores "yes" ou "no" vamos converter para 1 e 0 e dropar os valores que não tem entradas

In [11]:
# o output aqui se trata de um aviso, não um erro, basta ignorar por hora...

# substituindo 'yes' e 'no' po 1 e 0
processed_data['RainToday'].replace({'No':0, 'Yes':1}, inplace=True)
processed_data['RainTomorrow'].replace({'No':0, 'Yes':1}, inplace=True)

C:\Users\julia\AppData\Local\Temp\ipykernel_24864\3697506060.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  processed_data['RainToday'].replace({'No':0, 'Yes':1}, inplace=True)
C:\Users\julia\AppData\Local\Temp\ipykernel_24864\3697506060.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  processed_data['RainTomorrow'].replace({'No':0, 'Yes':1}, inplace=True)

In [12]:
# dropando entradas sem valores
processed_data = processed_data.dropna(how='any')

In [13]:
processed_data['RainTomorrow'].describe()

count    124689.000000
mean          0.221238
std           0.415082
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: RainTomorrow, dtype: float64

In [5]:
sns.distplot(processed_data,x='RainTomorrow')

NameError: name 'sns' is not defined